
.header {
    background-color: lightgray;
    color: aquamarine;    
    font-size: 30px;
    padding-left: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}